html{
	height: 100%;
	 
	background: radial-gradient(circle, #fff, #ccc);
	font-family: cursive, san-serif;	
}
#container{
	height: 550px;
	width: 600px;
	padding: 20px;
	margin: 35px auto;
	border-radius: 10px;
	background-color: rebeccapurple;
	box-shadow: 0px 5px 0px 0px #502099;
	-moz-box-shadow: 0px 5px 0px 0px #502099;
	-webkit-box-shadow: 0px 5px 0px 0px #502099;
	position: relative;
}
#message{
	height: 70px;
	width: 508px;
	padding: 10px 8px 20px 8px;
	margin: 40px auto 30px auto;
	text-align: center;
	border-radius: 3px;
	background-color: #B481D9;
	box-shadow: 0px 5px 0px 0px #8153A8;
	-moz-box-shadow: 0px 5px 0px 0px #8153A8;
	-webkit-box-shadow: 0px 5px 0px 0px #8153A8;
	font: 10px;
	color: white;
	line-height: 18px;
	font-size: 16px;
	position: relative;
	
}
#life{
	width: 90px;;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	background-color: #F1FF92;
	box-shadow: 0px 5px 0px 0px #9DA853;
	-moz-box-shadow: 0px 5px 0px 0px #9DA853;
	-webkit-box-shadow: 0px 5px 0px 0px #9DA853;
	color: #888E5F;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50px;
	display: none;
}
.life{
	height: 23px;
	width: 22px;
	margin: 0 2px;
}
#score{
	width: 90px;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	background-color: #F1FF92;
	box-shadow: 0px 5px 0px 0px #9DA853;
	-moz-box-shadow: 0px 5px 0px 0px #9DA853;
	-webkit-box-shadow: 0px 5px 0px 0px #9DA853;
	color: #888E5F;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 460px;
	display: none;
}
#hit{
	width: auto;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	background-color: #42E252;
	box-shadow: 0px 5px 0px 0px #9DA853;	
	-moz-box-shadow: 0px 5px 0px 0px #9DA853;	
	-webkit-box-shadow: 0px 5px 0px 0px #9DA853;
	color: #fff;
	position: absolute;
	left: 270px;
	display: none;
}
#miss{
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	background-color: #DE401A;
	box-shadow: 0px 5px 0px 0px #B00000;
	-moz-box-shadow: 0px 5px 0px 0px #B00000;
	-webkit-box-shadow: 0px 5px 0px 0px #B00000;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 240px;
	display: none;
}
#game{
	width: 520px;
	height: 150px;
	margin: 30px auto;
	border-radius: 3px;	
	background-color: #9DA0EA;
	box-shadow: 0px 5px 0px 0px #535AA8;
	-moz-box-shadow: 0px 5px 0px 0px #535AA8;
	-webkit-box-shadow: 0px 5px 0px 0px #535AA8;
	font-size: 50px;
	color: navajowhite;
	text-align: center;
	line-height: 135px;
	position: absolute;
	left: 60px;
	top: 170px;
}
#fruit{
	height: 400px;
	width: 520px;
	margin: 30px auto;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0px 5px 0px 0px #535AA8;
	-moz-box-shadow: 0px 5px 0px 0px #535AA8;
	-webkit-box-shadow: 0px 5px 0px 0px #535AA8;	
	overflow: hidden;
	position: relative;
	top: 30px;
	display: none;
 }
.fruity{
	height: 60px;
	width: 60px;
	;
	display: none;
	position: absolute;
}
#instruction{
	width: 520px;
	height: 50px;
	background-color: #B481D9;
	margin: 30px auto 40px auto;
	text-align: center;
	line-height: 45px;
	color: white;
	border-radius: 3px;
	box-shadow: 0px 5px 0px 0px #8153A8;
	-moz-box-shadow: 0px 5px 0px 0px #8153A8;
	-webkit-box-shadow: 0px 5px 0px 0px #8153A8;
	position: relative;
	top: 200px;
}
#sr{
	width: 170px;
	padding: 10px;
	margin: 20px auto;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
	color: white;
	cursor: pointer;
	text-align: center;
	position: absolute;
	top: 467px;
	left: 230px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}
#gameover{
	height: 280px;
	width: 400px;
	padding: 60px;
	border-radius: 3px;
	background-color: midnightblue;
	box-shadow: 0px 5px 0px 0px #191970;
	-moz-box-shadow: 0px 5px 0px 0px #191970;
	-webkit-box-shadow: 0px 5px 0px 0px #191970;
	z-index: 2;
	color: white;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 80px;
	left: 60px;
	display: none;
}